* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 100vh;
    width: 100vw;
}

h1{
    font-size: 2em;
    text-align: center;
    padding-top: 50PX;

}
h2{
    font-size: 2em;
}
a{
    font-size: 1.4em;
    text-decoration: none;
    color: #616161;

}
.header{
    background-color: #ffffff;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    transition: all 300ms ease-in-out;
    padding-top: 20PX;
}
.navBar{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
li{
    list-style: none; 
}
.sticky{
    position: fixed;
    width: 100vw;
}
    /* About Me */
.about-me{
    height: 80vh;
    display: flex;
    padding:30px;
    font-size: 25px;
    background-color: #ffffff;
        background-image: -webkit-linear-gradient(118.8deg, #ffffff 50%, #707070 50%);
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
}

.profile-pic{
    height: 40vh;
    border-radius: 20%;
    border: 2px solid black;
}
/* projects/technologies  */
.projects{
display: flex;
flex-direction: column;
    align-items: center;
    width: 100vw;
}
a.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.project-box{
    display: flex;
    justify-content:space-around;
    height: 35vh;
    width: 99vw;
    text-align: center;
    font-size: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.box-border{
    display: flex;
   align-items: center;
   justify-content: center;
    font-size: 4vw; 
}
div.box-border{
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: center;
    
}
.project-box>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 100%;
    background-color: gray;
    display: flex;
    text-align:center;
    border: 2px solid black;
}
div.project-box{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


/* --------- */

.technologies{
    display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 35vh;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;

}
.technology-box{
  display: flex;
    justify-content: space-around;
    width: 100vw;
   flex-wrap: wrap;
}

.technology-box>img{
    display: flex;
    width: 90px;
    flex-wrap: wrap;
}

.contact-box {
   display: flex;
    border: 2px solid black;
    justify-content: space-around;
    width: 90vw;
}

.contact-me{
    display: flex;
    height: 70vh;
    background-color: #ffffff;
        background-image: -webkit-linear-gradient(71deg, #ffffff 50%, #707070 50%);
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width:100vw;
        
}
.contact-pic>img{
    width: 15vw;
    margin: 40px;
}
.contact-title{
    margin-top: 300px;
}

/* js */
.project-box {
    border: 5px solid rgb(255, 255, 255);
   transition-duration: 3s;
   transition: 2s;
   
}

.box-border {
    width: 120%;
    height: 12vh;
    border: 4px solid rgb(0, 0, 0);
    margin: 10px;
    transition-duration: 1s;
}
.box-border:hover {
    transform: translateY(-10px);
}
.project_img{
    height: 80px;
}
/* Modal */





/*  */

.scroll-down header{
    transform: translate3d(0, -100%, 0);
}
.scroll-up header{
    filter: drop-shadow(0 -10px 20px rgb(107, 107, 102) )

}

/* desktop */

@media  (min-width:700px )and (max-width:1000px){
    .about-me{
        
        height: 50vw;
    }
    .aboutme-3{
        width: 50rem;
         
    }
    .project-box>div{
        width:8vw;

    }
    .project-box{
        width: 100%;
       
    }
    .technology-box{
        width:60vw;
    }
    .contact-box{
        width: 50vw;
    }
    .contact-pic>img{
        width: 6vw;
    }
    .contact-me{
        height: 46vh;
    }
   .projects{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
   }

div.project-box{
    max-width: 65%;
}
.box-border{
    width: 20%;
}
a.box{
    width: 20%;
    display: flex;
    align-items: center;
}
.project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: aqua;
}
div.box-border{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 25px;
}
}
@media (min-width:1001px) and (max-width:1900px){
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .aboutme-3{
       width: 70%;
    }
    .project-box{
        width: 50vw;
    }
    .box{
        height: 100%;
    }
    .box-border{
        font-size: 40px;
    }
    .technology-box{
        width: 70vw;
    }
   
    .contact-box{
        display: flex;
        align-items: center;
        width: 45%;
        height: 30%;
    }
    a>img{
       max-height: 100px;
       max-width: 100px;
    }
}

@media (min-width:1901px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
.aboutme-2{
    margin-top: 20px;
    font-size: 40px;
}
    .aboutme-3 {
        margin-top: 50px;
        width: 50%;
        font-size: 25px;
    }

    .project-box {
        width: 40%;
        margin-top: 30px;
        margin-bottom: 35px;
       
    }

   

    .box-border {
         font-size: 25px;
    }

    .technology-box {
        width: 40vw;
    }

    .contact-box {
        display: flex;
        align-items: center;
        width: 40%;
        height: 25%;
    }

    a>img {
        max-height: 80px;
        max-width: 80px;
    }
    .technology-box>img{
        height: 70px;
        width: 70px;
    }
}