* {
    margin: 0;
    padding: 0;
    border: 0;
    border: 0 solid black ;
    
}
body{
    height: 100vh;
}

h1{
    font-size: 3em;
    text-align: center;

}
a{
    font-size: 1.2em;
}
.header{
    background-color: #ffffff;
        background-image: -webkit-linear-gradient(296.5deg, #ffffff 50%, #707070 50%);
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
li{
    list-style: none;
    
}
.sticky{
    position: fixed;
    width: 100vw;
}
/* About Me */
.about-me{
    height: 100vh;
    display: flex;
    padding:30px;
    font-size: 25px;
    background-color: #ffffff;
        background-image: -webkit-linear-gradient(118.8deg, #ffffff 50%, #707070 50%);
        flex-direction: column;
        align-items: center;
}

.profile-pic{
    height: 50vh;
    border-radius: 20%;
}
.project-box >div{
    height: 150px;
    width: 150px;
    background-color: gray;
    display: flex;
}


.contact-me{
    height: 100vh;
    background-color: #ffffff;
        background-image: -webkit-linear-gradient(20deg, #ffffff 50%, #707070 50%);
}